html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.container {
  margin: 80px auto 0 auto;
  max-width: 1200px;
}

.nav-container {
  margin: auto;
}

.leaflet-container {
  position: relative;
  width: 100%;
  height: 50vh;
}
.MuiGrid-container {
  width: unset;
  position: relative;
  display: unset;
 
  margin-left: 100px;
}